.loader {
  scale: 3;
  width: 40px;
  height: 40px;
  --c: linear-gradient(currentColor 0 0);
  --m: radial-gradient(farthest-side, #ffffff 92%, #ffffff00);
  background: var(--c), var(--m), var(--c), var(--m), var(--c), var(--m);
  background-size: 8px 12px, 8px 8px;
  background-repeat: no-repeat;
  animation: load 1s infinite alternate;
}

@keyframes load {
  0%,
  100% {
    background-position: 0 0, 0 100%, 50% 0, 50% 100%, 100% 0, 100% 100%;
  }
  20% {
    background-position: 0 calc(50% - 6px), 0 calc(50% + 4px), 50% 0, 50% 100%,
      100% 0, 100% 100%;
  }
  40% {
    background-position: 0 calc(50% - 6px), 0 calc(50% + 4px),
      50% calc(50% - 6px), 50% calc(50% + 4px), 100% 0, 100% 100%;
  }
  60% {
    background-position: 0 0, 0 100%, 50% calc(50% - 6px), 50% calc(50% + 4px),
      100% calc(50% - 6px), 100% calc(50% + 4px);
  }
  80% {
    background-position: 0 0, 0 100%, 50% 0, 50% 100%, 100% calc(50% - 6px),
      100% calc(50% + 4px);
  }
}
