.cube {
  width: 150px;
  height: 150px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.1s linear;

  animation: spinCube 3s infinite ease-in-out;
}

.cube-face {
  position: absolute;
  width: 150px;
  height: 150px;
  background: transparent;
  border: 2px solid var(--primary);

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.cube-front {
  transform: translateZ(75px);
}
.cube-back {
  transform: rotateY(180deg) translateZ(75px);
}
.cube-right {
  transform: rotateY(90deg) translateZ(75px);
}
.cube-left {
  transform: rotateY(-90deg) translateZ(75px);
}
.cube-top {
  transform: rotateX(90deg) translateZ(75px);
}
.cube-bottom {
  transform: rotateX(-90deg) translateZ(75px);
}

@keyframes spinCube {
  0% {
    transform: rotateX(0) rotateY(0);
  }
  50% {
    transform: rotateX(180deg) rotateY(180deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg);
  }
}
